In [4]:
# Importing Data Manipulation Libraries
import pandas as pd
import numpy as np
# Import Data Visualization Libraries
import seaborn as sns 
import matplotlib.pyplot as plt 
# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')
# Import Logging
import logging
logging.basicConfig(level = logging.INFO,
                    format = '%(asctime)s - %(levelname)s - %(message)s',
                    filemode = 'w',
                    filename = 'model.log',force = True)
# Import Scikit Learn Libraries for Machine Learning Model Building
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV,learning_curve,KFold
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
import xgboost
from xgboost import XGBRegressor
from sklearn.cluster import KMeans


# Multicolinearity test and treatment libraries
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.decomposition import PCA

#3. Import OrderDict()
from collections import OrderedDict

In [5]:
filepath = "Data/credit-risk-data.csv"
df = pd.read_csv(filepath)
df.head()

,CreditScore,AnnualIncome,LoanAmount,LoanDuration,Age,EmploymentStatus,MaritalStatus,NumberOfDependents,EducationLevel,HomeOwnershipStatus,...,JobTenure,MonthlySavings,AnnualBonuses,AnnualExpenses,MonthlyHousingCosts,MonthlyTransportationCosts,MonthlyFoodCosts,MonthlyHealthcareCosts,MonthlyEntertainmentCosts,LoanApproved
0,402,63295,18830,13,29,Self-Employed,Widowed,2,Doctorate,Other,...,24,378,3741,40058,977,412,399,136,124,0
1,735,55936,23729,1,42,Self-Employed,Divorced,3,Master,Own,...,10,575,4115,16745,695,206,898,252,131,0
2,570,62547,19660,7,54,Self-Employed,Single,3,Doctorate,Mortgage,...,16,691,4105,23273,627,266,392,73,36,0
3,406,46129,21674,23,25,Self-Employed,Divorced,3,High School,Other,...,6,452,4559,42163,397,307,250,378,-32,0
4,371,57725,12189,26,42,Employed,Widowed,4,Master,Own,...,2,690,7856,30087,723,315,114,88,68,0

In [6]:
# Descriptive stats

def descriptive_stats():
    numerical_col = df.select_dtypes(exclude = 'object').columns
    categorica_col = df.select_dtypes(include = 'object').columns
    num_stats = []
    cat_stats = []
    data_info = []

    for i in numerical_col:
        Q1 = df[i].quantile(0.25)
        Q3 = df[i].quantile(0.75)
        IQR = Q3 - Q1 
        LF = Q1 - 1.5*IQR
        UF = Q3 + 1.5*IQR

        outlier_count = len(df[(df[i] < LF) | (df[i] > UF)])
        outlier_percentage = outlier_count / len(df[i]) * 100

        numerical_stats = OrderedDict({
            "Feature " : i ,
            "Q1" : Q1,
            "Q3" : Q3,
            "IQR" : IQR,
            "LF" : LF,
            "UF" : UF,
            "Mean" : df[i].mean(),
            "Median" : df[i].median(),
            "Min" : df[i].min(),
            "Max" : df[i].max(),
            "Outlier count" : outlier_count,
            "outlier percentage" : outlier_percentage,
            "standard derivation": df[i].std(),
            "variance" : df[i].var(),
            "skewness" : df[i].skew(),
            "kurtosis" : df[i].kurtosis()
        })
        num_stats.append(numerical_stats)
    numerical_stats_report = pd.DataFrame(num_stats)

    for i in categorica_col:
        categorical_stats = OrderedDict({
            "Feature" : i , 
            "Unquie count" : df[i].nunique(),
            "Value count" : df[i].value_counts(),
            "mode" : df[i].mode()
        })
        cat_stats.append(categorical_stats)
    categorical_stats_report = pd.DataFrame(cat_stats)


    for i in df.columns : 
        data1 = OrderedDict({
            "Feature" : i ,
            "Missing value" : df[i].isnull().sum(),
            "Unqiue value" : df[i].nunique(),
            "value count " : df[i].value_counts().to_dict()
        })
        data_info.append(data1)
    data_info_report = pd.DataFrame(data_info)

    return categorical_stats_report,numerical_stats_report,data_info_report

categorical_stats_report,numerical_stats_report,data_info_report = descriptive_stats()

In [7]:
numerical_stats_report

,Feature,Q1,Q3,IQR,LF,UF,Mean,Median,Min,Max,Outlier count,outlier percentage,standard derivation,variance,skewness,kurtosis
0,CreditScore,437.000000,712.000000,275.000000,24.500000,1124.500000,574.423520,574.000000,300.000000,849.000000,0,0.000,158.751086,2.520191e+04,0.001973,-1.198059
1,AnnualIncome,49874.000000,70114.000000,20240.000000,19514.000000,100474.000000,59998.984440,59957.000000,1263.000000,118054.000000,737,0.737,14995.177544,2.248553e+08,0.000014,-0.012020
2,LoanAmount,16614.000000,23369.000000,6755.000000,6481.500000,33501.500000,19996.252480,19986.000000,-348.000000,40423.000000,694,0.694,5017.365491,2.517396e+07,0.001516,-0.016734
3,LoanDuration,8.000000,22.000000,14.000000,-13.000000,43.000000,15.026640,15.000000,1.000000,29.000000,0,0.000,8.376726,7.016953e+01,-0.004112,-1.205910
4,Age,30.000000,56.000000,26.000000,-9.000000,95.000000,43.417450,43.000000,18.000000,69.000000,0,0.000,14.982679,2.244807e+02,0.010035,-1.198233
5,NumberOfDependents,1.000000,3.000000,2.000000,-2.000000,6.000000,1.997240,2.000000,0.000000,4.000000,0,0.000,1.417841,2.010272e+00,0.000051,-1.305371
6,MonthlyDebtPayments,366.000000,635.000000,269.000000,-37.500000,1038.500000,499.911360,499.000000,-402.000000,1378.000000,726,0.726,199.988611,3.999544e+04,0.005237,0.016336
7,CreditCardUtilizationRate,0.251575,0.750752,0.499176,-0.497189,1.499517,0.500778,0.501393,0.000014,0.999997,0,0.000,0.288493,8.322814e-02,-0.002672,-1.198389
8,NumberOfOpenCreditLines,3.000000,11.000000,8.000000,-9.000000,23.000000,6.998870,7.000000,0.000000,14.000000,0,0.000,4.319747,1.866022e+01,-0.001191,-1.214230
9,NumberOfCreditInquiries,2.000000,7.000000,5.000000,-5.500000,14.500000,4.510750,5.000000,0.000000,9.000000,0,0.000,2.872679,8.252287e+00,-0.003135,-1.227823
10,DebtToIncomeRatio,0.249326,0.748043,0.498717,-0.498750,1.496119,0.499049,0.498237,0.000011,0.999995,0,0.000,0.288468,8.321363e-02,0.002560,-1.195713
11,BankruptcyHistory,0.000000,0.000000,0.000000,0.000000,0.000000,0.050460,0.000000,0.000000,1.000000,5046,5.046,0.218893,4.791427e-02,4.107472,14.871622
12,PreviousLoanDefaults,0.000000,0.000000,0.000000,0.000000,0.000000,0.101160,0.000000,0.000000,1.000000,10116,10.116,0.301542,9.092756e-02,2.645389,4.998185
13,InterestRate,0.082289,0.226971,0.144682,-0.134733,0.443993,0.154620,0.154188,0.010002,0.299998,0,0.000,0.083625,6.993097e-03,0.005572,-1.202409
14,PaymentHistory,7.000000,22.000000,15.000000,-15.500000,44.500000,14.508510,15.000000,0.000000,29.000000,0,0.000,8.673629,7.523184e+01,-0.001108,-1.205373
15,SavingsAccountBalance,2962.000000,7034.000000,4072.000000,-3146.000000,13142.000000,4999.362190,4994.000000,-8686.000000,18981.000000,668,0.668,3004.272609,9.025654e+06,0.005585,0.000539
16,CheckingAccountBalance,1320.000000,2668.000000,1348.000000,-702.000000,4690.000000,1997.062400,1999.000000,-1911.000000,6208.000000,660,0.660,997.771836,9.955486e+05,0.006347,-0.018533
17,InvestmentAccountBalance,6668.000000,13397.250000,6729.250000,-3425.875000,23491.125000,10012.327950,10008.000000,-11216.000000,32041.000000,688,0.688,4986.110159,2.486129e+07,-0.013589,0.003894
18,RetirementAccountBalance,19838.000000,40116.500000,20278.500000,-10579.750000,70534.250000,29984.201000,29980.500000,-31797.000000,98390.000000,653,0.653,14985.013960,2.245506e+08,-0.002496,-0.021126
19,EmergencyFundBalance,1654.000000,4352.000000,2698.000000,-2393.000000,8399.000000,3001.926740,3007.000000,-4968.000000,12103.000000,677,0.677,1996.723566,3.986905e+06,0.003796,-0.005716
20,TotalAssets,66335.750000,133809.250000,67473.500000,-34874.500000,235019.500000,100146.551440,100075.000000,-108295.000000,320171.000000,672,0.672,50054.953177,2.505498e+09,0.004395,0.003689
21,TotalLiabilities,36471.000000,63396.250000,26925.250000,-3916.875000,103784.125000,49915.225640,49884.500000,-29256.000000,140336.000000,631,0.631,19906.580509,3.962719e+08,0.009023,-0.031726
22,NetWorth,30042.750000,70519.250000,40476.500000,-30672.000000,131234.000000,50203.202330,50232.000000,-91937.000000,176220.000000,693,0.693,30084.660445,9.050868e+08,-0.007176,-0.007604
23,LengthOfCreditHistory,7.000000,22.000000,15.000000,-15.500000,44.500000,14.507950,15.000000,0.000000,29.000000,0,0.000,8.657435,7.495119e+01,0.001906,-1.203140
24,MortgageBalance,116217.750000,183919.250000,67701.500000,14665.500000,285471.500000,150074.929120,150183.000000,-56445.000000,367851.000000,695,0.695,50006.798966,2.500680e+09,0.003835,-0.005722
25,RentPayments,797.000000,1200.000000,403.000000,192.500000,1804.500000,999.167820,999.000000,-389.000000,2254.000000,753,0.753,299.537891,8.972295e+04,-0.001828,0.032271
26,AutoLoanBalance,6602.000000,13403.000000,6801.000000,-3599.500000,23604.500000,10009.157830,10007.000000,-13933.000000,30074.000000,700,0.700,5012.377597,2.512393e+07,0.000820,0.007000
27,PersonalLoanBalance,3652.000000,6335.000000,2683.000000,-372.500000,10359.500000,4995.824080,5003.000000,-4538.000000,13633.000000,697,0.697,1990.517166,3.962159e+06,-0.003404,0.001796
28,StudentLoanBalance,13240.000000,26721.000000,13481.000000,-6981.500000,46942.500000,19988.950440,19968.000000,-24011.000000,65415.000000,719,0.719,9992.548879,9.985103e+07,0.003847,0.037073
29,UtilityBillsPaymentHistory,0.253907,0.751501,0.497595,-0.492485,1.497893,0.502367,0.502653,0.000016,0.999998,0,0.000,0.287968,8.292575e-02,-0.008742,-1.195292
30,OtherInsurancePolicies,1.000000,3.000000,2.000000,-2.000000,6.000000,2.003400,2.000000,0.000000,4.000000,0,0.000,1.414966,2.002128e+00,-0.002535,-1.300550
31,JobTenure,10.000000,30.000000,20.000000,-20.000000,60.000000,19.511670,19.000000,0.000000,39.000000,0,0.000,11.532364,1.329954e+02,-0.000311,-1.197108
32,MonthlySavings,297.000000,704.000000,407.000000,-313.500000,1314.500000,499.844570,500.000000,-862.000000,1767.000000,686,0.686,300.364370,9.021875e+04,-0.011622,-0.007493
33,AnnualBonuses,3668.000000,6359.000000,2691.000000,-368.500000,10395.500000,5017.457310,5016.000000,-3665.000000,13223.000000,757,0.757,2007.492329,4.030025e+06,-0.000647,0.020754
34,AnnualExpenses,23246.000000,36714.000000,13468.000000,3044.000000,56916.000000,29965.582190,29987.500000,-17594.000000,74621.000000,710,0.710,10006.162685,1.001233e+08,-0.009852,-0.004164
35,MonthlyHousingCosts,726.000000,1267.000000,541.000000,-85.500000,2078.500000,996.230590,996.000000,-645.000000,2682.000000,673,0.673,400.323837,1.602592e+05,0.009392,-0.000836
36,MonthlyTransportationCosts,199.000000,400.000000,201.000000,-102.500000,701.500000,300.004220,300.000000,-365.000000,902.000000,736,0.736,149.662404,2.239884e+04,-0.005876,0.010755
37,MonthlyFoodCosts,265.000000,534.000000,269.000000,-138.500000,937.500000,399.059440,398.000000,-451.000000,1274.000000,716,0.716,199.260241,3.970464e+04,0.009886,-0.013242
38,MonthlyHealthcareCosts,132.000000,266.000000,134.000000,-69.000000,467.000000,199.506320,200.000000,-247.000000,599.000000,739,0.739,99.750352,9.950133e+03,-0.004935,0.023776
39,MonthlyEntertainmentCosts,66.000000,133.000000,67.000000,-34.500000,233.500000,99.375890,99.000000,-123.000000,307.000000,713,0.713,49.844306,2.484455e+03,0.016222,-0.017670
40,LoanApproved,0.000000,1.000000,1.000000,-1.500000,2.500000,0.372830,0.000000,0.000000,1.000000,0,0.000,0.483560,2.338301e-01,0.525985,-1.723375

In [8]:
categorical_stats_report

,Feature,Unquie count,Value count,mode
0,EmploymentStatus,3,EmploymentStatus Employed 33488 Self-E...,"0 Employed Name: EmploymentStatus, dtype: o..."
1,MaritalStatus,4,MaritalStatus Married 25226 Divorced 24...,"0 Married Name: MaritalStatus, dtype: object"
2,EducationLevel,5,EducationLevel Associate 20153 High Schoo...,"0 Associate Name: EducationLevel, dtype: ob..."
3,HomeOwnershipStatus,4,HomeOwnershipStatus Mortgage 25168 Own ...,"0 Mortgage Name: HomeOwnershipStatus, dtype..."
4,LoanPurpose,5,LoanPurpose Education 20120 Home ...,"0 Education Name: LoanPurpose, dtype: object"
5,HealthInsuranceStatus,2,HealthInsuranceStatus Insured 50042 Unins...,"0 Insured Name: HealthInsuranceStatus, dtyp..."
6,LifeInsuranceStatus,2,LifeInsuranceStatus Uninsured 50031 Insured...,"0 Uninsured Name: LifeInsuranceStatus, dtyp..."
7,CarInsuranceStatus,2,CarInsuranceStatus Insured 50163 Uninsure...,"0 Insured Name: CarInsuranceStatus, dtype: ..."
8,HomeInsuranceStatus,2,HomeInsuranceStatus Uninsured 50214 Insured...,"0 Uninsured Name: HomeInsuranceStatus, dtyp..."
9,EmployerType,4,EmployerType Private 25240 Other ...,"0 Private Name: EmployerType, dtype: object"

In [9]:
data_info_report

,Feature,Missing value,Unqiue value,value count
0,CreditScore,0,550,"{675: 221, 656: 216, 829: 216, 584: 215, 448: ..."
1,AnnualIncome,0,48065,"{56031: 12, 58552: 11, 56208: 10, 58777: 10, 6..."
2,LoanAmount,0,22395,"{21448: 21, 21369: 21, 20813: 20, 19360: 18, 1..."
3,LoanDuration,0,29,"{16: 3528, 28: 3523, 4: 3521, 14: 3506, 23: 34..."
4,Age,0,52,"{33: 2020, 31: 2011, 26: 2009, 21: 1982, 57: 1..."
5,EmploymentStatus,0,3,"{'Employed': 33488, 'Self-Employed': 33347, 'U..."
6,MaritalStatus,0,4,"{'Married': 25226, 'Divorced': 24988, 'Single'..."
7,NumberOfDependents,0,5,"{0: 20273, 4: 20044, 3: 19970, 2: 19925, 1: 19..."
8,EducationLevel,0,5,"{'Associate': 20153, 'High School': 20122, 'Ba..."
9,HomeOwnershipStatus,0,4,"{'Mortgage': 25168, 'Own': 25037, 'Rent': 2498..."
10,MonthlyDebtPayments,0,1373,"{457: 233, 496: 230, 459: 224, 477: 222, 499: ..."
11,CreditCardUtilizationRate,0,99999,"{0.103740664: 2, 0.344898375: 1, 0.293088748: ..."
12,NumberOfOpenCreditLines,0,15,"{12: 6791, 13: 6741, 4: 6732, 10: 6729, 8: 670..."
13,NumberOfCreditInquiries,0,10,"{3: 10098, 7: 10096, 6: 10095, 9: 10063, 1: 10..."
14,DebtToIncomeRatio,0,99998,"{0.651799067: 2, 0.439042655: 2, 0.53489751: 1..."
15,BankruptcyHistory,0,2,"{0: 94954, 1: 5046}"
16,LoanPurpose,0,5,"{'Education': 20120, 'Home': 20042, 'Other': 2..."
17,PreviousLoanDefaults,0,2,"{0: 89884, 1: 10116}"
18,InterestRate,0,99986,"{0.098162258: 2, 0.270165048: 2, 0.200907566: ..."
19,PaymentHistory,0,30,"{17: 3410, 27: 3402, 29: 3401, 9: 3397, 1: 339..."
20,SavingsAccountBalance,0,14778,"{4960: 26, 5183: 26, 6076: 25, 6387: 24, 6267:..."
21,CheckingAccountBalance,0,5756,"{1914: 63, 1834: 59, 1904: 58, 1874: 56, 2155:..."
22,InvestmentAccountBalance,0,22356,"{9384: 19, 12528: 19, 9324: 18, 10353: 18, 128..."
23,RetirementAccountBalance,0,47887,"{21158: 11, 29076: 11, 34509: 11, 23845: 10, 2..."
24,EmergencyFundBalance,0,10525,"{3670: 34, 2631: 34, 3646: 33, 2954: 33, 2548:..."
25,TotalAssets,0,77076,"{85845: 9, 116155: 7, 99679: 6, 136670: 6, 113..."
26,TotalLiabilities,0,55554,"{47706: 11, 51389: 10, 62786: 9, 41188: 8, 355..."
27,NetWorth,0,66254,"{39881: 8, 41866: 8, 54477: 7, 40006: 7, 61146..."
28,LengthOfCreditHistory,0,30,"{9: 3452, 3: 3397, 2: 3392, 28: 3387, 29: 3387..."
29,MortgageBalance,0,77110,"{132554: 7, 130782: 6, 137231: 6, 167966: 6, 1..."
30,RentPayments,0,1974,"{970: 166, 1070: 159, 928: 156, 929: 155, 1124..."
31,AutoLoanBalance,0,22354,"{11378: 20, 12233: 19, 12308: 17, 10376: 17, 1..."
32,PersonalLoanBalance,0,10484,"{4186: 35, 5030: 35, 5309: 35, 5003: 35, 5229:..."
33,StudentLoanBalance,0,37168,"{18400: 13, 16121: 13, 26626: 12, 20355: 12, 2..."
34,UtilityBillsPaymentHistory,0,99994,"{0.617465297: 2, 0.196567505: 2, 0.837237868: ..."
35,HealthInsuranceStatus,0,2,"{'Insured': 50042, 'Uninsured': 49958}"
36,LifeInsuranceStatus,0,2,"{'Uninsured': 50031, 'Insured': 49969}"
37,CarInsuranceStatus,0,2,"{'Insured': 50163, 'Uninsured': 49837}"
38,HomeInsuranceStatus,0,2,"{'Uninsured': 50214, 'Insured': 49786}"
39,OtherInsurancePolicies,0,5,"{4: 20124, 2: 20040, 0: 19960, 3: 19944, 1: 19..."
40,EmployerType,0,4,"{'Private': 25240, 'Other': 25078, 'Public': 2..."
41,JobTenure,0,40,"{32: 2580, 19: 2568, 28: 2562, 15: 2554, 39: 2..."
42,MonthlySavings,0,1984,"{557: 159, 502: 156, 460: 154, 587: 153, 417: ..."
43,AnnualBonuses,0,10594,"{4919: 34, 4908: 33, 4167: 33, 5079: 32, 5415:..."
44,AnnualExpenses,0,37283,"{34388: 12, 27435: 12, 25470: 12, 27836: 12, 2..."
45,MonthlyHousingCosts,0,2549,"{1031: 121, 900: 121, 917: 120, 862: 120, 1132..."
46,MonthlyTransportationCosts,0,1042,"{293: 337, 258: 299, 325: 293, 252: 292, 319: ..."
47,MonthlyFoodCosts,0,1353,"{400: 228, 407: 223, 417: 222, 368: 222, 384: ..."
48,MonthlyHealthcareCosts,0,724,"{205: 436, 191: 435, 196: 435, 221: 435, 217: ..."
49,MonthlyEntertainmentCosts,0,374,"{98: 847, 88: 826, 95: 816, 102: 815, 106: 813..."
50,LoanApproved,0,2,"{0: 62717, 1: 37283}"